// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important;
}

.header {
  background: #ffffff !important;

  .header__container {
    padding: 30px !important;
  }
}
