<!-- Start of Footer -->
<container>
    <row class="footer">
        <columns>
            <!-- Start of Top Footer Links -->
            <row>
            <columns class="footer__top-links">
                <span>
                    <a href="#" class="footer__top-link">Unsubcribe</a>
                </span>
                <span class="divider"></span>
                <span>
                    <a href="#" class="footer__top-link">Support</a>
                </span>
                <span class="divider"></span>
                <span>
                    <a href="#" class="footer__top-link">View Online</a>
                </span>
            </columns>
            </row>
            <!-- End of Top Footer Links -->

            <!-- Start of Top Footer Comapny Address -->
            <row>
                <columns>
                    <p class="footer__top-address text-center">Udemy.com 600 Harrison Street, 3rd Floor San Francisco, CA 94107 USA</p>
                </columns>
            </row>

            <!-- End of Top Footer Comapny Address -->

            <!-- Start of Top Footer Second Links -->
            <row>
                <columns class="footer__top-second-links">
                    <span>
                        <a href="#" class="footer__top-second-link">Careers at Udemy</a>
                    </span>
                    <span class="divider"></span>
                    <span>
                        <a href="#" class="footer__top-second-link">Get Udemy Business</a>
                    </span>
                    <span class="divider"></span>
                    <span>
                        <a href="#" class="footer__top-second-link">Become an Instructor</a>
                    </span>
                </columns>
            </row>
            <!-- End of Top Footer Second Links -->


            <!-- Start of Footer Middle -->
            <row>
                <columns >
                    <p class="footer__middle-download-title text-center">Download our apps for Offline Coursetaking</p>
                </columns>
            </row>

            <row>
                <columns large="3" small="3"></columns>
                <columns valign="middle" large="3" small="3" class="footer__middle-apple">
                   <a href="#">
                    <img src="https://i.imgur.com/ijUHPrz.png" alt="apple" class="apple_icon float-right">
                   </a> 
                </columns>
                <columns valign="middle" large="3" small="3" class="footer__middle-android">
                    <a href="#">
                        <img src="https://i.imgur.com/YlpBHRq.png" alt="android" class="android_icon">
                    </a>
                </columns>
                <columns large="3" small="3"></columns>
            </row>

            <row>
            <columns class="footer__divider">
            </columns>
            </row>

            <!-- End of Footer Middle -->

            <!-- Start of Footer Bottom -->
            <row>
                <columns>
                    <p class="footer__bottom-title text-center">Connect with us</p>
                </columns>
            </row>

            <row class="footer__bottom-icons">
                <columns large="2" small="2" class="footer__bottom-icons-container"></columns>
                <columns valign="middle" large="2" small="2" class="footer__bottom-facebook">
                   <a href="#">
                    <img src="https://i.imgur.com/ls3TbUu.png" alt="facebook" class="facebook_icon float-right">
                   </a> 
                </columns>
                <columns valign="middle" large="2" small="2" class="footer__bottom-twitter">
                    <a href="#">
                        <img src="https://i.imgur.com/Bh3AEgZ.png" alt="twitter" class="twitter_icon float-center">
                    </a>
                </columns>
                <columns valign="middle" large="2" small="2" class="footer__bottom-youtube">
                    <a href="#">
                        <img src="https://i.imgur.com/9gEJiAV.png" alt="youtube" class="youtube_icon">
                    </a>
                </columns>
                <columns large="2" small="2"></columns>
            </row>

            <!-- End of Footer Bottom -->

        </columns>
    </row>
</container>

<!-- End of Footer -->