<!-- Start of Footer -->
<container>
    <row class="footer">
        <columns>
            <!-- Start of Top Footer Links -->
            <row>
            <columns class="footer__top-links">
                <span>
                    <a href="#" class="footer__top-link">Unsubcribe</a>
                </span>
                <span class="divider"></span>
                <span>
                    <a href="#" class="footer__top-link">Support</a>
                </span>
                <span class="divider"></span>
                <span>
                    <a href="#" class="footer__top-link">View Online</a>
                </span>
            </columns>
            </row>
            <!-- End of Top Footer Links -->

            <!-- Start of Top Footer Comapny Address -->
            <row>
                <columns>
                    <p class="footer__top-address text-center">Udemy.com 600 Harrison Street, 3rd Floor San Francisco, CA 94107 USA</p>
                </columns>
            </row>

            <!-- End of Top Footer Comapny Address -->

            <!-- Start of Top Footer Second Links -->
            <row>
                <columns class="footer__top-second-links">
                    <span>
                        <a href="#" class="footer__top-link">Careers at Udemy</a>
                    </span>
                    <span class="divider"></span>
                    <span>
                        <a href="#" class="footer__top-link">Get Udemy Business</a>
                    </span>
                    <span class="divider"></span>
                    <span>
                        <a href="#" class="footer__top-link">Become an Instructor</a>
                    </span>
                </columns>
            </row>
            <!-- End of Top Footer Second Links -->


            <!-- Start of Footer Middle -->
            <row>
                <columns >
                    <p class="footer__middle-download-title text-center">Download our apps for Offline Coursetaking</p>
                </columns>
            </row>

            <row>
                <columns></columns>
                <columns valign="middle">
                   <a href="#">
                    <img src="{{root}}/assets/img/udemy_img/apple.png" alt="apple" class="float-right">
                   </a> 
                </columns>
                <columns valign="middle">
                    <a href="#">
                    <img src="{{root}}/assets/img/udemy_img/android.png" alt="android">
                    </a>
                </columns>
                <columns></columns>
            </row>

            <row>
            <columns class="footer__divider">
            </columns>
            </row>

            <!-- End of Footer Middle -->

            <!-- Start of Footer Bottom -->
            <row>
                <columns>
                    <p class="footer__bottom-title text-center">Connect with us</p>
                </columns>
            </row>

            <row class="footer__bottom-icons">
                <columns></columns>
                <columns valign="middle">
                   <a href="#">
                    <img src="{{root}}/assets/img/udemy_img/facebook.png" alt="facebook" class="float-right">
                   </a> 
                </columns>
                <columns valign="middle">
                    <a href="#">
                    <img src="{{root}}/assets/img/udemy_img/twitter.png" alt="twitter" class="float-center">
                    </a>
                </columns>
                <columns valign="middle">
                    <a href="#">
                    <img src="{{root}}/assets/img/udemy_img/youtube.png" alt="youtube">
                    </a>
                </columns>
                <columns></columns>
            </row>

            <!-- End of Footer Bottom -->

        </columns>
    </row>
</container>

<!-- End of Footer -->